<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halitpractice.tvlangsungturkilight">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CanliTvMobileTvTurkishLast">
        <activity android:name=".YerelTvYonlendirCategoriesDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".YerelTvCategoriesDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".YerelTvYonlendirCategoriesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".YerelTvYonlendirActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".YerelTvDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:keepScreenOn="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".UlusalTvCategoriesDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".DisclaimerWebViewFetchRetrofitActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".TurkishCartoonYtbActivity" />

        <activity android:name=".TurkYabanciMovieActivity" />

        <activity android:name=".RadyoDinleActivity" />

        <activity
            android:name=".YerelTvCategoriesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".YerelTvActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".UlusalTvCategoriesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".UlusalTvActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- AdMob App Ad ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>

</manifest>